// GLOBAL COLORS
$color-a: #abcbff;
$color-b: #ec5e87;
$color-c: #213e8c;

// CONTENT
$color-body-bg: $color-b;
$color-text: white;
$color-heading-text: white;

// LINKS
$color-link-text: #39a275;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $color-link-text;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: white;
