// GLOBAL COLORS
$color-a: #f2ff49;
$color-b: white;
$color-c: #1098f7;
$color-d: #fe3434;

// CONTENT
$color-body-bg: $color-b;
$color-content-bg: $color-c;
$color-text: black;
$color-heading-text: black;

// LINKS
$color-link-text: black;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: lighten($color-heading-text, 50%);

// BUTTONS
$color-button-bg: $color-b;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
$color-button-text: $color-link-text;
